# Draw.io backup files
.$*.bkp
*.bkp

# Office temp locks
~$*.docx
~$*.xlsx
~$*.pptx

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & temp
*.log
*.tmp
*.bak
.vscode/.ropeproject
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Node / Dependencies (future-proof)
node_modules/
dist/
.env
.env.local

